<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="packages" value="packages"/>
        <add key="github" value="https://nuget.pkg.github.com/dotnetmoondodev/index.json"/>
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="dotnetmoondodev"/>
            <add key="ClearTextPassword" value="$base64Token"/>
        </github>
    </packageSourceCredentials>
</configuration>
